@CHARSET "UTF-8";

.daily_top{
	width: 100%; 
	height: 60px; 
	background: #f4f8fa; 
	color:#5b7697;
}

.daily_second{
	width: 100%; 
	height: 45px; 
	background: #fff; 
	color:#5b7697;
	border-bottom: 1px solid #ccc;
}

.daily_top_center{
	height: 100%; 
	border-right: 1px solid #ccc; 
	float: left; 
	text-align: center; 
	line-height: 60px;
}

.daily_top_right{
	height: 100%; 
	float: left; 
	text-align: center; 
	line-height: 60px;
}

.daily_second_center{
	height: 100%; 
	border-right: 1px solid #ccc; 
	float: left; 
	text-align: center; 
	line-height: 45px;
}

.daily_second_right{
	height: 100%; 
	float: left; 
	text-align: center; 
	line-height: 45px;
}