<?xml version="1.0" encoding="UTF-8"?>
<menu-list appname="小巴" iconURL="" authorityType="0">
	<menu-item name="管理员设置" iconURL="" authority="1">
		<sub-item name="管理员列表" authority="2" action="getAdminInfolist.do"/>
	</menu-item>
	<menu-item name="用户管理" iconURL="" authority="1">
		<sub-item name="所有教练" authority="3" action="getCoachlist.do"/>
		<sub-item name="待审核教练" authority="3" action="getCoachTobeChecked.do"/>
		<sub-item name="明星签约教练" authority="3" action="getCoachListBySignstate.do"/>
		<sub-item name="所有学员" authority="4" action="getStudentlist.do"/>
		<sub-item name="报名学员" authority="4" action="getEnrollStudentlist.do"/>
		<sub-item name="广告报名" authority="4" action="getSignUpInfoListFromAds.do"/>
		<sub-item name="更换教练" authority="4" action="goChangeCoach.do"/>
		<sub-item name="教练邀请教练" authority="1" action="getRecommendList.do?"/>
		<sub-item name="教练邀请学员" authority="1" action="getRecommendListc2s.do?"/>
		<sub-item name="教练学员关系" authority="5" action="getCoachStudent.do"/>
		<sub-item name="教练余额管理" authority="6" action="getCoachBalance.do"/>
		<sub-item name="学员余额管理" authority="7" action="getStudentBalance.do"/>
		<sub-item name="分配学员驾校" authority="7" action="getStudentSchool.do"/>
	</menu-item>
	<menu-item name="充值提现管理" iconURL="" authority="1">
		<sub-item name="教练提现申请" authority="3" action="getCoachApplyList.do"/>
		<sub-item name="教练历史提现" authority="4" action="getCoachBalanceListFinance.do"/>
		<sub-item name="学员提现申请" authority="5" action="getStudentApplyList.do"/>
		<sub-item name="学员历史提现" authority="6" action="getStudentApplyRecordList.do"/>
		<sub-item name="学员历史充值" authority="7" action="getStudentRechargeList.do"/>
		<sub-item name="驾校余额管理" authority="8" action="schoolmoneymanage.do"/>
		<sub-item name="驾校历史提现" authority="9" action="getschoolRechargeList.do"/>
	</menu-item>
	<menu-item name="提现管理-财务" iconURL="" authority="1">
		<sub-item name="提现申请-财务" authority="3" action="getCoachApplyListFinance.do"/>
		<sub-item name="提现成功-财务" authority="3" action="getCoachBalanceListFinance.do"/>
	</menu-item>
	<menu-item name="系统配置" iconURL="" authority="1">
		<sub-item name="系统设置项" authority="3" action="getTimeCancel.do"/>
		<sub-item name="准教车型配置" authority="4" action="getModellist.do"/>
		<sub-item name="教练等级" authority="5" action="getallLevellist.do"/>
		<sub-item name="投诉原因" authority="6" action="getComplaintlist.do"/>
		<sub-item name="教练车型设置" authority="7" action="getTeachcarModellist.do"/>
		<sub-item name="教学科目设置" authority="8" action="getSubjectlists.do"/>
		<sub-item name="节假日设置" authority="8" action="getHolidays.do"/>
		<sub-item name="开通城市设置" authority="4" action="getOpenModelPrice.do"/>
		<sub-item name="省市区" authority="9" action="getProvince.do"/>

		<sub-item name="重置教练开课状态" authority="10" action="showResetCoachCoursestate.do"/>
	</menu-item>
	<menu-item name="系统通知" iconURL="" authority="1">
		<sub-item name="通知列表" authority="3" action="getNoticeList.do"/>
	</menu-item>
	<menu-item name="订单管理" iconURL="" authority="1">
		<sub-item name="订单列表" authority="3" action="getOrderList.do"/>
		<sub-item name="特殊订单列表" authority="2" action="specialOrder.do"/>
	</menu-item>
	<menu-item name="投诉管理" iconURL="" authority="1">
		<sub-item name="投诉列表" authority="3" action="getComplaintList.do"/>
	</menu-item>
	<menu-item name="驾校管理" iconURL="" authority="1">
		<sub-item name="驾校列表" authority="3" action="getdriveSchool.do"/>
	</menu-item>
	<menu-item name="小巴券管理" iconURL="" authority="1">
		<sub-item name="小巴券类型列表" authority="1" action="getCouponList.do"/>
		<sub-item name="小巴券发放记录" authority="2" action="getCouponRecordInfo.do"/>
		<sub-item name="教练小巴券兑换记录" authority="2" action="getCouponCoachInfo.do"/>
		<sub-item name="发放小巴币" authority="2" action="goGrantCoinRecord.do"/>
		<!--<sub-item name="小巴币发放查询(总)" authority="2" action="goCoinRecord.do"/>-->
		<!--<sub-item name="小巴币发放记录" authority="2" action="goCoinRecordRelease.do"/>-->
		<!--<sub-item name="小巴币学员支付记录" authority="2" action="goCoinRecordToCoach.do"/>-->
		<!--<sub-item name="小巴币学员退款记录" authority="2" action="goCoinRecordRefund.do"/>-->
		<!--<sub-item name="小巴币学员退款记录" authority="2" action="goCoinRecordExchangeByCoach.do"/>-->
		<sub-item name="小巴币发放查询" authority="2" action="goCoinRecord.do"/>
		<!-- <sub-item name="驾校发放小巴券" authority="2" action="goSchoolGrantCoupon.do"/> -->
		<sub-item name="驾校发放小巴币" authority="2" action="goSchoolGrantCoin.do"/>
		<sub-item name="驾校小巴币发放记录" authority="2" action="goSchoolCoinRecord.do"/>
	</menu-item>

	<menu-item name="其他" iconURL="" authority="1">
		<sub-item name="意见反馈" authority="3" action="getFeedback.do"/>
		<sub-item name="版本管理" authority="4" action="getVersion.do"/>
		<sub-item name="短信验证码重置" authority="4" action="gotoresetVerCode.do"/>
	</menu-item>
	<menu-item name="日报" iconURL="" authority="1">
		<sub-item name="系统日报" authority="3" action="systemdaily.do"/>
		<sub-item name="驾校日报" authority="3" action="schooldaily.do"/>
		<sub-item name="教练日报" authority="3" action="coachdaily.do"/>
		<sub-item name="教练报表" authority="3" action="coachreport.do"/>
		<sub-item name="学生账户日报" authority="3" action="studentaccountdaily.do"/>
		<sub-item name="教练账户日报" authority="3" action="coachaccountdaily.do"/>
		<sub-item name="学生提现日报" authority="3" action="studentapply.do"/>
		<sub-item name="教练提现日报" authority="3" action="coachapply.do"/>
		<sub-item name="驾校对账单" authority="3" action="schoolbilldaily.do"/>
		<sub-item name="小巴券日报" authority="3" action="xiaobadaily.do"/>
		<sub-item name="邀请日报" authority="2" action="getRecommendReport.do"/>
	</menu-item>

	<menu-item name="日志" iconURL="" authority="1">
		<sub-item name="教练日志" authority="3" action="CoachLog.do"/>
		<sub-item name="特殊订单操作日志" authority="2" action="getSpecialOrderLog.do"/>
	</menu-item>
	<menu-item name="运营报表" iconURL="" authority="1">
		<sub-item name="日业绩" authority="3" action="GotoAccountReportByDay.do"/>
		<sub-item name="运营日月业绩" authority="3" action="GotoAccountReport.do"/>
		<sub-item name="学时券月报表" authority="3" action="GotoCouponReportMontly.do"/>
		<sub-item name="小巴币月报表" authority="3" action="GotoCoinReportMontly.do"/>
		<sub-item name="小巴币月报表-驾校" authority="3" action="GotoCoinReportMontlyBySchool.do"/>
		<sub-item name="小巴订单日报表" authority="4" action="GetDailyOrderReport.do"/>
	</menu-item>
</menu-list>
